* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Inter", sans-serif; 
}

body {
    display: flex; 
    background: #f0f6ff; 
    color: #1e3a5f; 
}

.sidebar {
    width: 255px;
    height: 100vh;
    background: rgba(173, 216, 255, 0.85);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border-right: 1px solid #bcd8ff; */
}

.Info {
    width: 210px;
    margin-top: 40px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo-nomes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    background-color: #1e3a5f;
    border-radius: 15px;
    margin-right: 5px;
    padding: 10px;
    font-size: 20px;
    color: #bcd8ff;
}
#Nome-logo{
    font-size: 20px;
}

#Subnome {
    font-size: 12px;
}

.nav-item {
    padding: 12px 14px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.25s;
}
.nav-item.active, .nav-item:hover {
    background: #d8eaff;
}

/* MAIN */
.main {
    flex: 1;
    padding: 32px;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.btn-add {
    background: #74baff;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}